@model SchoolDairy.Data.Models.Parent

<h2>Parent Details</h2>

<p><strong>First Name</strong> @Model.FirstName</p>
<p><strong>Last Name</strong> @Model.LastName</p>
<p><strong>Phone Number</strong> @Model.PhoneNumber</p>
<p><strong>Email Addres</strong> @Model.EmailAddres</p>
<p><strong>UserNameParent</strong> @Model.UserNameParent</p>

<a asp-action="Index" class="btn btn-primary">Back to All Registration</a>
