@model SchoolDairy.Data.Models.Parent

<h2>Parent Details</h2>

<p><strong>Genre:</strong> @Model.FirstName</p>
<p><strong>Release Date:</strong> @Model.LastName</p>
<p><strong>Duration:</strong> @Model.PhoneNumber</p>
<p><strong>Director:</strong> @Model.EmailAddres</p>
<p><strong>Description:</strong> @Model.UserNameParent</p>

<a asp-action="Index" class="btn btn-primary">Back to All Registration</a>
