@model SchoolDairy.Data.Models.Student

<h2>Student Details</h2>

<p><strong>First Name</strong> @Model.FirstName</p>
<p><strong>Middle Name</strong> @Model.MiddleName</p>
<p><strong>Last Name</strong> @Model.LastName</p>
<p><strong>Classroom</strong> @Model.Classroom</p>
<p><strong>Number</strong> @Model.Number</p>
<p><strong>Form Of Training</strong> @Model.FormOfTraining</p>

<a asp-action="Index" class="btn btn-primary">Back to All Student</a>

