@using SchoolDairy.Data.Models;
@model IEnumerable<Student>

<h2>Student Registration</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Classroom</th>
            <th>Number </th>
            <th>FormOfTraining </th>

        </tr>
    </thead>
    <tbody>
        @foreach (Student student in Model)
        {
            <tr>
                <td>@student.FirstName</td>
                <td>@student.MiddleName</td>
                <td>@student.LastName</td>
                <td>@student.Classroom</td>
                <td>@student.Number</td>
                <td>@student.FormOfTraining</td>
                <td>
                    <a asp-action="Details" asp-route-id="@student.Id" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Add New Student</a>

